:root {
  --text-color: #494c6b;
  --primary-color: #3a7cfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
}
body {
  font-size: 1.6rem;
  color: var(--text-color);
}
